*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #269bfa;
}

.btn-add{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-add:hover{ 
    background-color: #065291;
    border-color: blue;
    color: white;
    transition: all 1s ease;
}

/* body{
    background-image: url("https://media.istockphoto.com/id/868924678/photo/airport-at-the-colorful-sunset.jpg?s=612x612&w=0&k=20&c=EnZ1QI2-qzoWhiAR0rrNZz2ObFzfPcuX9r7tOH24pj4=");
    object-fit: cover;
    background-repeat: repeat-y;
    width: 100%;
    height: auto;
} */


.add-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}


#edit-form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


.close{
    position: absolute;
    top: 10px;
    right: 10px;

}


